<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/expansions.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
	<link rel="icon" th:href="@{/assets/ico/cardIcon0.png}" type="image/png" sizes="96x96">
	
    <title>CardTracker</title>
</head>

<body>
	<!-- Struttura intestazione e menu di navigazione -->
	<header>
        <div class="container">
            <h1 class="logo">Card Tracker</h1>
            <nav>
                <a href="https://www.cardtrader.com/" class="btn">
                    <img src="assets/ico/CardTraderLogo.svg" alt="CardTrader" class="icon">
                </a>
                <a href="/index" class="btn">
                    <img src="assets/ico/home.png" alt="Home" class="icon">
                </a>
                <a href="/trackedCards" class="btn">
                    <img src="assets/ico/summary.png" alt="Tracked Cards" class="icon">
                </a>
                <a href="/logout" class="btn">
                    <img src="assets/ico/logout.png" alt="Logout" class="icon">
                </a>
            </nav>
        </div>
    </header>
    <!-- Barra di ricerca -->
	<div id="research-content" >
        <input type="text" id="search-bar" placeholder="Cerca" oninput="filterItems()">
        <!--<button id="search-btn" onclick="filterItems()" >Cerca</button>-->
	</div>
	
	<div id="content">
		<!-- visualizzazione della lista delle espansioni -->
	    <div id="expansions-list"></div>
	    <!-- visualizzazione delle carte all'interno di un'espansione selezionata -->
		<div id="cardList-options">
			<h3 id="cardlist-title">Carte dell'Espansione</h3>
			<!-- la lista delle carte di un'espansione non è visibile fino alla sua selezione -->
			<div id="cards-list" style="display: none;">
				<div id="cards"></div>
			</div>
		</div>
	</div>
	
    <script th:src="@{/js/expansions.js}" type="text/javascript"></script>

</body>
</html>
